@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: source sans pro, sans-serif;
    font-weight: 300;
    color: #fefcff;
    background-color: milk;
}

/* headings and logo */

h1, h2 {
    font-family: fjalla one, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(38, 25, 17);
}

#logo {
    float: left;
    font-size: 350%;
    margin-left: 20px;
    letter-spacing: 4px;
    font-weight: lighter;
    
}

/* navigation links */

#navbar {
    font-size: 140%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    line-height: 75px;
}

#navbar li a {
    text-decoration: none;
    color: rgb(38, 25, 17);
}

#navbar a:hover {
    border-bottom: 1px solid rgb(191, 175, 160);
}

.active {
    border-bottom: 1px solid rgb(191, 175, 160);
}


/* background image */

#wrap-img {
    height: 600px;
    width: 100%;
    overflow: hidden;
    
}

#background-img {
    height: 600px;
    width: 100%;
   background: url(../images/yoga.background2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
   
}

.wrapper {
    margin-top: 4%;
    line-height: 120px;
}

.wrapper h1 {
    font-family: fjalla one, sans-serif;
    font-size: 220%;
    margin-bottom: 52px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.about {
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}


.about .text-box {
    background-color: rgb(124, 98, 105);
    margin: 30px;
    margin-bottom: 50px;
    width: 350px;
    padding: 20px;
    line-height: 20px;
    color: rgb(38, 25, 17);
    position: relative;
    border-radius: 20px;
}

.about .text-box h3 {
    color: rgb(201, 190, 190);
    font-size: 170%;
    text-transform: uppercase;
    margin: 12px 0;
    line-height: 60px;
    font-family: fjalla one, source sans pro;
}

.about .text-box p {
    color: rgb(201, 190, 190);
    font-size: 20px;
    text-transform: lowercase;
    margin: 12px 0;
    line-height: 25px;

}

.about .text-box .about-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about .text-box .about-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}


.container {
    width: 1280px;
    min-height: 300px;
    background: #fefcff;
    margin: 20px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 4%;
    
}

.container .box {
    position: relative;
    width: 300px;
    height: 300px;
    background: #fefcff;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    
}


.container .box .image-box {
    position: relative;
    overflow: hidden;

}

.container .box .image-box img {
    max-width: 100%;
    height: 300px;
    transition: transform 2s;
    border-radius: 10px;
}

.container .box:hover .image-box img {
    transform: scale(1.2)
}

.container .box .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .4);
    transform: scaleY(0);
    transition: transform .5s;
}

.container .box:hover .details {
    transform: scaleY(1);
}

.container .box .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(248, 247, 244);
}
.container .box .details .content h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: rgb(248, 247, 244);
}

.container .box .details .content p {
    margin: 10px 0 0;
    padding: 0;
}

.heading-container {
    margin-top: 4%;
    line-height: 120px;
}

.heading-container h1 {
    font-family: fjalla one, sans-serif;
    font-size: 220%;
    margin-bottom: 52px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}


/* media queries */

/* for large to medium screens size from 950px and down */


@media screen and (max-width:800px) {
    #navbar{
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        display: inline;
    }
 
    .about {
        display: inline;
        justify-content: center;
        padding: 50px 0;
        
    }
    

    .container {
        display: inline;
        margin: 0 auto;
    }

    

    .copyright-text {
        padding: 8px 40px;
    }
}


/* media queries medium screen size  */

@media (max-width: 600px) {
    #navbar{
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        display: inline;
    }
    .about {
        display: inline;
    }

    .container {
        display: inline;
        margin: 0 auto;
        margin-right: 30px;
    }

    .copyright-text {
        padding: 8px 40px;
    }
}

/* contact us */

.contact-wrapper {
    background: url(../images/thomas-ciszewski-contact6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    line-height: 120px;
    
    
}

.title-contact {
    margin-top: 100px;
    color: whitesmoke;
}

.title-contact h1 {
    font-size: 28px;
    line-height: 10px;
}

form {
    margin-top: 10px;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
    color: #fefcff;
    font-size: 18px;
    margin-bottom: 2px;
    
}

input {
    height: 30px;
}

form .submit {
    background-color: rgb(124, 98, 105);
    border-color: transparent;
    font-size: 20px;
    letter-spacing: 1px;
    height: 50px;
    margin-top: 5px;
}

form .submit:hover {
    background-color: rgb(185, 152, 152);
    cursor: pointer;
}


/* footer */

.footer {
    padding: 40px 0;
    background-color: #fefcff;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: rgb(38, 25, 17);
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #fefcff;
    width: 40px;
    height: 40px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
}

.copyright-text {
    width: 95%;
    background: rgb(185, 152, 152);
    padding: 10px 40px;
    text-align: center;
    color: rgb(248, 247, 244);
}