@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: source sans pro, sans-serif;
    font-weight: 300;
    color: rgb(38, 25, 17);
    background-color: rgb(248, 247, 244);
}

/* headings and logo */

h1, h2 {
    font-family: fjalla one, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(38, 25, 17);
}

#logo {
    float: left;
    font-size: 350%;
    margin-left: 20px;
    letter-spacing: 4px;
    font-weight: lighter;
    
}

/* navigation links */

#navbar {
    font-size: 150%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#navbar li a {
    text-decoration: none;
    color: rgb(38, 25, 17);
}

#navbar a:hover {
    border-bottom: 1px solid rgb(191, 175, 160);
}

.active {
    border-bottom: 1px solid rgb(191, 175, 160);
}

/* background image */

#wrap-img {
    height: 600px;
    width: 100%;
    overflow: hidden;
    
}

#background-img {
    height: 600px;
    width: 100%;
    background: url(../images/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
   
}

.wrapper {
    margin-top: 10%;
    line-height: 150px;
}

.wrapper h1 {
    font-family: fjalla one, sans-serif;
    font-size: 190%;
    margin-bottom: 52px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.about {
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}


.about .text-box {
    background-color: rgb(236, 234, 226);
    margin: 30px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: rgb(38, 25, 17);
    position: relative;
}

.about .text-box h3 {
    color: rgb(38, 25, 17);
    font-size: 170%;
    text-transform: uppercase;
    margin: 12px 0;
    line-height: 60px;
}

.about .text-box p {
    color: rgb(38, 25, 17);
    font-size: 20px;
    text-transform: lowercase;
    margin: 12px 0;
    line-height: 25px;
}

.about .text-box .about-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about .text-box .about-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    width: 1280px;
    min-height: 50px;
    background: rgb(191, 175, 160);
    margin: 70px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container .box {
    position: relative;
    width: 300px;
    height: 300px;
    background: rgb(191, 175, 160);
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;

}