@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: source sans pro, sans-serif;
    font-weight: 300;
    color: rgb(38, 25, 17);
    background-color: rgb(248, 247, 244);
}

/* headings and logo */

h1, h2 {
    font-family: fjalla one, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(38, 25, 17);
}

#logo {
    float: left;
    font-size: 350%;
    margin-left: 20px;
    letter-spacing: 4px;
    font-weight: lighter;
    
}

/* navigation links */

#navbar {
    font-size: 150%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    line-height: 75px;
}

#navbar li a {
    text-decoration: none;
    color: rgb(38, 25, 17);
}

#navbar a:hover {
    border-bottom: 1px solid rgb(191, 175, 160);
}

.active {
    border-bottom: 1px solid rgb(191, 175, 160);
}


/* background image */

#wrap-img {
    height: 600px;
    width: 100%;
    overflow: hidden;
    
}

#background-img {
    height: 600px;
    width: 100%;
   background: url(../images/lake-atitlan-guatemala.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
   
}

.wrapper {
    margin-top: 10%;
    line-height: 140px;
}

.wrapper h1 {
    font-family: fjalla one, sans-serif;
    font-size: 220%;
    margin-bottom: 52px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.about {
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
}


.about .text-box {
    background-color: rgb(236, 234, 226);
    margin: 30px;
    margin-bottom: 50px;
    width: 350px;
    padding: 20px;
    line-height: 20px;
    color: rgb(38, 25, 17);
    position: relative;
    border-radius: 20px;
}

.about .text-box h3 {
    color: rgb(38, 25, 17);
    font-size: 170%;
    text-transform: uppercase;
    margin: 12px 0;
    line-height: 60px;
}

.about .text-box p {
    color: rgb(38, 25, 17);
    font-size: 20px;
    text-transform: lowercase;
    margin: 12px 0;
    line-height: 25px;
}

.about .text-box .about-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about .text-box .about-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    width: 1280px;
    min-height: 500px;
    background: rgb(248, 247, 244);
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.container .box {
    position: relative;
    width: 300px;
    height: 300px;
    background: rgb(236, 234, 226);
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    
}


.container .box .image-box {
    position: relative;
    overflow: hidden;

}

.container .box .image-box img {
    max-width: 100%;
    height: 300px;
    transition: transform 2s;
    border-radius: 10px;
}

.container .box:hover .image-box img {
    transform: scale(1.2)
}

.container .box .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .4);
    transform: scaleY(0);
    transition: transform .5s;
}

.container .box:hover .details {
    transform: scaleY(1);
}

.container .box .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(248, 247, 244);
}
.container .box .details .content h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: rgb(248, 247, 244);
}

.container .box .details .content p {
    margin: 10px 0 0;
    padding: 0;
}

.heading-container {
    margin-top: 10%;
    line-height: 150px;
}

.heading-container h1 {
    font-family: fjalla one, sans-serif;
    font-size: 220%;
    margin-bottom: 52px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}




/* media queries */

/* for large to medium screens size from 950px and down */


@media screen and (max-width:800px) {
    #navbar{
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        display: inline;
    }
 
    .about {
        display: inline;
        justify-content: center;
        padding: 50px 0;
        
    }
    

    .container {
        display: inline;
        margin: 0 auto;
    }

}

@media (max-width: 600px) {
    #navbar{
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        display: inline;
    }
    .about {
        display: inline;
    }

    .container {
        display: inline;
        margin: 0 auto;
        margin-right: 30px;
    }
}
